PORT=5000
SUPABASE_URL=https://tamkbabexclvzpmztpxb.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRhbWtiYWJleGNsdnpwbXp0cHhiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODgyMzcyOCwiZXhwIjoyMDk0Mzk5NzI4fQ.3SoETnMgrJICLDpLkKCFDUwQp6Pmtng1I009jjWjfRY
GEMINI_API_KEY=your_gemini_api_key
CRON_SECRET=renknock99

# Optional (if you want real trading later, but this project is paper trading)
BINANCE_API_KEY=
BINANCE_API_SECRET=
